body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#login-box{
    background-color: lightgray;
    padding:1em;
    text-align: center
}

.btn{
    margin:.5em;
}

.card{
    display:inline-flex;
}

#chapters{
    margin-top: 2em;
    text-align: center;
}